body,
html {
  margin: 0;
  color: var(--pri-text-color);
  background-color: var(--bg-color);
}

html {
  position: relative;
  font-size: var(--font-size);
}

body {
  padding: 1rem;
}

* {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial,
    sans-serif;
  box-sizing: border-box;
}

#app {
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
}
