:root {
  --el-text-color-regular: #c5c5c5 !important;
  --pri-text-color: var(--el-text-color-regular);
  --sec-text-color: rgb(151, 151, 151);
  --thr-text-color: #222;
}

html[class="dark"] {
  --bg-color: #333;
}

html[class="light"] {
  --bg-color: #fff;
}
