:root {
  --pri-text-color: var(--el-text-color-regular);
  --sec-text-color: rgb(94, 94, 94);
  --thr-text-color: #222;
}

html[class="dark"] {
  --bg-color: #333;
}

html[class="light"] {
  --bg-color: #fff;
}
